extend layout

include mixins/snippet

block content
    h1
        | The Experiment
    form#experimentForm(method="POST")
        #questions
            p Some questions before the experiment begins:

            .form-group
                label(for='since') How long since you last did any programming?
                select#since.form-control(name="since")
                    option(value="EMPTY")   Please select a value
                    option(value="1w")      I programmed in the last 7 days
                    option(value="1m")      I programmed last month
                    option(value="6m")      I programmed last 6 months
                    option(value="1y")      I programmed last 1 year
                    option(value="2y")      I programmed last 2 years
                    option(value="3y")      I programmed last 3 years
                    option(value="10y")     I programmed last 10 years
                    option(value="10+y")    I haven't programmed in at least 10 years
                    option(value="never")   I have never programmed before

            .form-group
                label(for='experience') How much professional experience do you have as a programmer?
                select#experience.form-control(name="experience")
                    option(value="EMPTY")   Please select a value
                    option(value="never")   I have no               experience as a programmer
                    option(value="10+")     I am a student-programmer
                    option(value="student") I have less than 1 year experience as a programmer
                    option(value="1")       I have 1 year           experience as a programmer
                    option(value="2")       I have 2 years          experience as a programmer
                    option(value="3")       I have 3 years          experience as a programmer
                    option(value="4-10")    I have 4-9 years        experience as a programmer
                    option(value="10+")     I have 10+ years        experience as a programmer


            .form-group
                label(for='education') What is your highest diploma?
                select#education.form-control(name="education")
                    option(value="EMPTY")       Please select a value
                    option(value="none")        No higher education
                    option(value="student")     I am still a student
                    option(value="highschool")  Highschool (middelbaar)
                    option(value="college")     College (hogeschool)
                    option(value="university")  University
                    option(value="phd")         Phd (doctoraat)

            .form-group
                label(for='lastWeek') How many hours did you program in the last 7 days?
                select#lastWeek.form-control(name="lastWeek")
                    option(value="EMPTY")   Please select a value
                    option(value="0")       I programmed 0 hours        in the last 7 days
                    option(value="1-9")     I programmed 1-9 hours      in the last 7 days
                    option(value="10-19")   I programmed 10-19 hours    in the last 7 days
                    option(value="20-29")   I programmed 20-29 hours    in the last 7 days
                    option(value="30-39")   I programmed 30-39 hours    in the last 7 days
                    option(value="40+")     I programmed 40+ hours  in the last 7 days

            button#questionsDoneButton.btn.btn-lg.btn-primary.btn-block(type='button') To the experiment!

        #experiment(style="display:none;")
            p
                | Time left:&nbsp;
                span#countdown #{showSnippetTime}
                | &nbsp;minutes

            #preExperiment
                p
                    | When you continue you will see a code snippet. You will have #{showSnippetTime} minutes
                    | to memorize that snippet. Then you will be asked to reproduce that code snippet
                    | exactly. For this you will have #{inputSnippetTime} minutes.
                p
                    | When the countdown is over, you will automatically
                    | continue to the next step. In each step you will
                    | also have a button to skip the rest of the countdown
                    | and immediately go to the next step.
                button#startButton.btn.btn-lg.btn-primary.btn-block(type='button') Let's go!

            #viewSnippet(style="display:none;")
                .noselect
                    +snippet(snippet)
                button#viewingDone.btn.btn-lg.btn-primary.btn-block(type='button') Skip countdown!

            #inputSnippet(style="display:none;")
                textarea#codeInput.code(name="codeInput", form="experimentForm", rows=snippet.rows, cols=snippet.cols)
                button#inputDone.btn.btn-lg.btn-primary.btn-block(type='button') I'm done!

        div(style="display:none;")
            input(type="hidden", name="snippetId", value=snippet.id)
            input#startViewing(type="hidden", name="startViewing")
            input#startInput(type="hidden", name="startInput")
            input#endInput(type="hidden", name="endInput")




block customScripts
    script(src='/js/experiment.js')
