extend layout
block content
    .starter-template
        h1
            | Do the Experiment
        form#experimentForm
            #questions
                p Some quick questions before the experiment begins:

                label.sr-only(for='since') How long since you last did any programming
                input#since.form-control(name="since", type='number', placeholder='How long since you last did any programming?', autofocus='')

                label.sr-only(for='totalExperience') Total programming experience including education, hobby. (years)
                input#totalExperience.form-control(name="totalExperience", type='number', placeholder='Total programming experience including education, hobby. (years)', required='')

                label.sr-only(for='selectLanguage') Preferred programming language
                select#selectLanguage.form-control(name="language")
                    each language in languages
                        option(value=language) #{language}

                button#questionsDoneButton.btn.btn-lg.btn-primary.btn-block To the experiment!

            #experiment
                p#countdown
                    | Time left:&nbsp;
                    span #{showSnippetTime}

                #pre-experiment
                    p
                        | You will see a code snippet in the language you selected
                        | during #{showSnippetTime}. Then you will be asked to reproduce
                        | the code snippet exactly. For this you will have #{inputSnippetTime}
                    button#startButton.btn.btn-lg.btn-primary.btn-block Let's go!

                #viewSnippet
                    #code.code.noselect

                #inputSnippet
                    textarea#codeInput.code(form="experimentForm")




block customScripts
    script(src='js/experiment.js')
